@tailwind base;
@tailwind components;
@tailwind utilities;

::-webkit-scrollbar {
  opacity: 0;
  width: 0;
}
.draggable-area {
  -webkit-app-region: drag;
}

body {
  -webkit-user-select: none;
}

.hover-bg {
  @apply hover:bg-slate-200/70 hover:dark:bg-slate-700/70;
}
