@tailwind base;
@tailwind components;
@tailwind utilities;

::-webkit-scrollbar {
  opacity: 0;
  width: 0;
}

body {
  background-color: theme('colors.gray.900');
  color: theme('colors.gray.100');
  -webkit-user-select: none;
}
.h1 {
  font-size: theme('fontSize.2xl');
  font-weight: theme('fontWeight.medium');
  letter-spacing: theme('letterSpacing.wide');
}
